<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= restaurant.name %></h2>
    <p>This place is in Hackney and has <%=restaurant.vouchers.count%> vouchers. <td><%= link_to 'Browse Vouchers', restaurant %></td></p>
  </div>
</div>
