
<div class="card-restaurant">
  <img src=<%= restaurant.photo_url %> />
  <div class="card-restaurant-infos">
    <div>
      <h2><%= restaurant.name %></h2>
      <p>
        <%= restaurant.tidy_address %>
      </p>
    </div>
    <h2>
      <%= link_to "Browse #{restaurant.vouchers.count} vouchers", restaurant_path(restaurant), class: "card-restaurant-pricing" %>
    </h2>
  </div>
</div>

