<div class="card-product">
  <img src=<%=voucher.restaurant.google_photos(@restaurant.google_place_id,400).sample%> />
  <div class="card-product-infos">
    <h2>£<%= voucher.price %></h2>
    <p><%= voucher.notes %></p>
    <p><%= link_to 'Contact owner', voucher %></p>
  </div>
</div>

