<div class="clickable-card card-product">
  <%= cl_image_tag(voucher.photo.key, :width => 240, :height => 240) %>
  <div class="card-product-infos">
    <div>
      <h2>£<%= voucher.price %></h2>
      <p><%= voucher.notes %></p>
    </div>
    <div class="btn-container">
      <%= link_to "Buy", voucher, type: "button", class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>


