<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>£<%= voucher.price %></h2>
    <p><%= voucher.notes %></p>
    <p><%= link_to 'Contact owner', voucher %></p>
  </div>
</div>
