<h1>New Voucher</h1>
<%# javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD1MSM-477OtobXL8tPADmCVkHtuHs1vaA" %>
<%= render 'form', voucher: @voucher %>
<%# link_to 'Back', vouchers_path %>


  <!-- <div class="field" id="locationField" onFocus="geolocate()"> -->
